*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

html{
    overflow-x: hidden;
}

body{display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow-x: hidden;
    background: rgb(175, 41, 63);
}



.container{
    background-color:rgb(37, 37, 37);
    border:2px solid rgb(37, 37, 37);
    padding:20px;
    border-radius: 15px;
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow:5px 5px 25px rgba(0,0,0,0.3);

}

.display{
    width:100% ;
    height: 110px;
    border: 1px solid;
    border-radius:7px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: right;
    padding-inline: 10px;
    overflow: auto;
}


.numbers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    width: 100%;
    gap: 1rem;

}

.numbers .btn3{
    padding:15px 10px ;
    border: 2px solid rgb(37, 37, 37);
    border-radius: 5px ;
    font-size: 18px;
    font-weight: 550;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    background-color:rgb(175, 68, 86);
    color: white;
    transition: .3s ease;
}

.numbers button:hover{
    transform: scale(1.03);
}

 .clear{
    background-color:rgb(248, 136, 95);
    grid-column: 3/5;
    grid-row: 1/2;
    background: rgb(194, 194, 5);
}

 .delete{
    background-color:red;
    grid-column: 1/3;
    grid-row: 1/2;

}



